<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    
    
    <!-- rating.js file -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'orders/styling.css' %}">

    <title>Pizza: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent border">
        <a class="navbar-brand" href="/">Pinocchio's Pizza
          </a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbar">
          

          <ul class="navbar-nav ml-auto mt-2">


            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                  </a>
            </li>
            {% block cart %} {% endblock %}

            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'owner_page' %}">Customer Orders
                  </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'registeration' %}">Register
                        </a>
                  </li>
          </ul>
          {% endif %}
        </div>
    </nav>

    <div class="wrapper">
      {% block main %}{% endblock %}
      <div class="push"></div>
    </div>

        
    <div class="footer">
    
            <nav class="my_nav" style="background-color: #000000;">
                <li class="nav-item myname">
                    <a class="nav-link"  target="_blank" href="https://www.facebook.com/arjoban.singh.1">Made By- Arjoban Singh
                        </a>
                  </li>
            </nav>
          </div>
       
  </body>

</html>
